<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Sales Overview</h4>
                            <p class="card-subtitle">
                                Ample admin Vs Pixel admin
                            </p>
                        </div>
                        <div class="ms-auto">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item text-primary">
                                    <span class="round-8 text-bg-primary rounded-circle me-1 d-inline-block"></span>
                                    Ample
                                </li>
                                <li class="list-inline-item text-info">
                                    <span class="round-8 text-bg-info rounded-circle me-1 d-inline-block"></span>
                                    Pixel Admin
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="sales-overview" class="mt-4 mx-n6" style="min-height: 290px;">
                        <div id="apexchartsuhsje5wa" class="apexcharts-canvas apexchartsuhsje5wa apexcharts-theme-" style="width: 593px; height: 275px;">
                            <svg id="SvgjsSvg1110" width="593" height="275" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
                                <foreignObject x="0" y="0" width="593" height="275">
                                    <div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml" style="max-height: 137.5px;"></div><style type="text/css">
                                                                                                                                               .apexcharts-flip-y {
                                                                                                                                                   transform: scaleY(-1) translateY(-100%);
                                                                                                                                                   transform-origin: top;
                                                                                                                                                   transform-box: fill-box;
                                                                                                                                               }

                                                                                                                                               .apexcharts-flip-x {
                                                                                                                                                   transform: scaleX(-1);
                                                                                                                                                   transform-origin: center;
                                                                                                                                                   transform-box: fill-box;
                                                                                                                                               }

                                                                                                                                               .apexcharts-legend {
                                                                                                                                                   display: flex;
                                                                                                                                                   overflow: auto;
                                                                                                                                                   padding: 0 10px;
                                                                                                                                               }

                                                                                                                                                   .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                                                                                                                       flex-wrap: wrap
                                                                                                                                                   }

                                                                                                                                                   .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                                                                                                                       flex-direction: column;
                                                                                                                                                       bottom: 0;
                                                                                                                                                   }

                                                                                                                                                   .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                                                                                                                       justify-content: flex-start;
                                                                                                                                                   }

                                                                                                                                                   .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                                                                                                                       justify-content: center;
                                                                                                                                                   }

                                                                                                                                                   .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                                                                                                                       justify-content: flex-end;
                                                                                                                                                   }

                                                                                                                                               .apexcharts-legend-series {
                                                                                                                                                   cursor: pointer;
                                                                                                                                                   line-height: normal;
                                                                                                                                                   display: flex;
                                                                                                                                                   align-items: center;
                                                                                                                                               }

                                                                                                                                               .apexcharts-legend-text {
                                                                                                                                                   position: relative;
                                                                                                                                                   font-size: 14px;
                                                                                                                                               }

                                                                                                                                                   .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                                                                                                                       pointer-events: none;
                                                                                                                                                   }

                                                                                                                                               .apexcharts-legend-marker {
                                                                                                                                                   position: relative;
                                                                                                                                                   display: flex;
                                                                                                                                                   align-items: center;
                                                                                                                                                   justify-content: center;
                                                                                                                                                   cursor: pointer;
                                                                                                                                                   margin-right: 1px;
                                                                                                                                               }

                                                                                                                                               .apexcharts-legend-series.apexcharts-no-click {
                                                                                                                                                   cursor: auto;
                                                                                                                                               }

                                                                                                                                               .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                                                                                                                                   display: none !important;
                                                                                                                                               }

                                                                                                                                               .apexcharts-inactive-legend {
                                                                                                                                                   opacity: 0.45;
                                                                                                                                               }</style>
                                </foreignObject>
                                <g id="SvgjsG1123" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                <g id="SvgjsG1124" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                <g id="SvgjsG1197" class="apexcharts-yaxis" rel="0" transform="translate(19.20098876953125, 0)"><g id="SvgjsG1198" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1200" font-family="inherit" x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1201">400</tspan><title>400</title></text><text id="SvgjsText1203" font-family="inherit" x="20" y="101.70400000000001" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1204">300</tspan><title>300</title></text><text id="SvgjsText1206" font-family="inherit" x="20" y="169.74133333333333" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1207">200</tspan><title>200</title></text><text id="SvgjsText1209" font-family="inherit" x="20" y="237.77866666666665" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1210">100</tspan><title>100</title></text></g></g>
                                <g id="SvgjsG1112" class="apexcharts-inner apexcharts-graphical" transform="translate(37.20098876953125, 30)"><defs id="SvgjsDefs1111"><linearGradient id="SvgjsLinearGradient1115" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1116" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop1117" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop1118" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMaskuhsje5wa"><rect id="SvgjsRect1120" width="545.7390193939209" height="204.112" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMaskuhsje5wa"><rect id="SvgjsRect1121" width="554.7390193939209" height="213.112" x="-4.5" y="-4.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskuhsje5wa"><rect id="SvgjsRect1122" width="545.7390193939209" height="204.112" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskuhsje5wa"></clipPath><clipPath id="nonForecastMaskuhsje5wa"></clipPath></defs><rect id="SvgjsRect1119" width="11.369562904040016" height="204.112" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1115)" class="apexcharts-xcrosshairs" y2="204.112" filter="none" fill-opacity="0.9"></rect><line id="SvgjsLine1162" x1="0" y1="204.112" x2="0" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1163" x1="90.95650323232015" y1="204.112" x2="90.95650323232015" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1164" x1="181.9130064646403" y1="204.112" x2="181.9130064646403" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1165" x1="272.86950969696045" y1="204.112" x2="272.86950969696045" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1166" x1="363.8260129292806" y1="204.112" x2="363.8260129292806" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1167" x1="454.7825161616007" y1="204.112" x2="454.7825161616007" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1168" x1="545.7390193939209" y1="204.112" x2="545.7390193939209" y2="210.112" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1158" class="apexcharts-grid"><g id="SvgjsG1159" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1169" x1="0" y1="0" x2="545.7390193939209" y2="0" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1170" x1="0" y1="68.03733333333334" x2="545.7390193939209" y2="68.03733333333334" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1171" x1="0" y1="136.07466666666667" x2="545.7390193939209" y2="136.07466666666667" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1172" x1="0" y1="204.11200000000002" x2="545.7390193939209" y2="204.11200000000002" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1160" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1174" x1="0" y1="204.112" x2="545.7390193939209" y2="204.112" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1173" x1="0" y1="1" x2="0" y2="204.112" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1161" class="apexcharts-grid-borders" style="display: none;"></g><g id="SvgjsG1125" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1126" class="apexcharts-series" rel="1" seriesName="AmplexAdmin" data:realIndex="0"><path id="SvgjsPath1131" d="M 36.608688712120056 264.6503333333333 L 36.608688712120056 38.11780000000001 C 36.608688712120056 35.61780000000001 39.108688712120056 33.11780000000001 41.608688712120056 33.11780000000001 L 41.608688712120056 33.11780000000001 C 42.29347016414006 33.11780000000001 42.97825161616007 35.61780000000001 42.97825161616007 38.11780000000001 L 42.97825161616007 264.6503333333333 C 42.97825161616007 267.1503333333333 40.47825161616007 269.6503333333333 37.97825161616007 269.6503333333333 L 37.97825161616007 269.6503333333333 C 37.29347016414006 269.6503333333333 36.608688712120056 267.1503333333333 36.608688712120056 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 36.608688712120056 264.6503333333333 L 36.608688712120056 38.11780000000001 C 36.608688712120056 35.61780000000001 39.108688712120056 33.11780000000001 41.608688712120056 33.11780000000001 L 41.608688712120056 33.11780000000001 C 42.29347016414006 33.11780000000001 42.97825161616007 35.61780000000001 42.97825161616007 38.11780000000001 L 42.97825161616007 264.6503333333333 C 42.97825161616007 267.1503333333333 40.47825161616007 269.6503333333333 37.97825161616007 269.6503333333333 L 37.97825161616007 269.6503333333333 C 37.29347016414006 269.6503333333333 36.608688712120056 267.1503333333333 36.608688712120056 264.6503333333333 Z " pathFrom="M 36.608688712120056 269.6503333333333 L 36.608688712120056 269.6503333333333 L 42.97825161616007 269.6503333333333 L 42.97825161616007 269.6503333333333 L 42.97825161616007 269.6503333333333 L 42.97825161616007 269.6503333333333 L 42.97825161616007 269.6503333333333 L 36.608688712120056 269.6503333333333 Z" cy="30.616800000000012" cx="122.5651919444402" j="0" val="355" barHeight="241.53253333333333" barWidth="11.369562904040016"></path><path id="SvgjsPath1133" d="M 127.5651919444402 264.6503333333333 L 127.5651919444402 14.304733333333354 C 127.5651919444402 11.804733333333354 130.0651919444402 9.304733333333354 132.5651919444402 9.304733333333354 L 132.5651919444402 9.304733333333354 C 133.2499733964602 9.304733333333354 133.93475484848022 11.804733333333354 133.93475484848022 14.304733333333354 L 133.93475484848022 264.6503333333333 C 133.93475484848022 267.1503333333333 131.43475484848022 269.6503333333333 128.93475484848022 269.6503333333333 L 128.93475484848022 269.6503333333333 C 128.2499733964602 269.6503333333333 127.5651919444402 267.1503333333333 127.5651919444402 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 127.5651919444402 264.6503333333333 L 127.5651919444402 14.304733333333354 C 127.5651919444402 11.804733333333354 130.0651919444402 9.304733333333354 132.5651919444402 9.304733333333354 L 132.5651919444402 9.304733333333354 C 133.2499733964602 9.304733333333354 133.93475484848022 11.804733333333354 133.93475484848022 14.304733333333354 L 133.93475484848022 264.6503333333333 C 133.93475484848022 267.1503333333333 131.43475484848022 269.6503333333333 128.93475484848022 269.6503333333333 L 128.93475484848022 269.6503333333333 C 128.2499733964602 269.6503333333333 127.5651919444402 267.1503333333333 127.5651919444402 264.6503333333333 Z " pathFrom="M 127.5651919444402 269.6503333333333 L 127.5651919444402 269.6503333333333 L 133.93475484848022 269.6503333333333 L 133.93475484848022 269.6503333333333 L 133.93475484848022 269.6503333333333 L 133.93475484848022 269.6503333333333 L 133.93475484848022 269.6503333333333 L 127.5651919444402 269.6503333333333 Z" cy="6.803733333333355" cx="213.52169517676035" j="1" val="390" barHeight="265.3456" barWidth="11.369562904040016"></path><path id="SvgjsPath1135" d="M 218.52169517676035 264.6503333333333 L 218.52169517676035 75.53833333333333 C 218.52169517676035 73.03833333333333 221.02169517676035 70.53833333333333 223.52169517676035 70.53833333333333 L 223.52169517676035 70.53833333333333 C 224.20647662878036 70.53833333333333 224.89125808080036 73.03833333333333 224.89125808080036 75.53833333333333 L 224.89125808080036 264.6503333333333 C 224.89125808080036 267.1503333333333 222.39125808080036 269.6503333333333 219.89125808080036 269.6503333333333 L 219.89125808080036 269.6503333333333 C 219.20647662878036 269.6503333333333 218.52169517676035 267.1503333333333 218.52169517676035 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 218.52169517676035 264.6503333333333 L 218.52169517676035 75.53833333333333 C 218.52169517676035 73.03833333333333 221.02169517676035 70.53833333333333 223.52169517676035 70.53833333333333 L 223.52169517676035 70.53833333333333 C 224.20647662878036 70.53833333333333 224.89125808080036 73.03833333333333 224.89125808080036 75.53833333333333 L 224.89125808080036 264.6503333333333 C 224.89125808080036 267.1503333333333 222.39125808080036 269.6503333333333 219.89125808080036 269.6503333333333 L 219.89125808080036 269.6503333333333 C 219.20647662878036 269.6503333333333 218.52169517676035 267.1503333333333 218.52169517676035 264.6503333333333 Z " pathFrom="M 218.52169517676035 269.6503333333333 L 218.52169517676035 269.6503333333333 L 224.89125808080036 269.6503333333333 L 224.89125808080036 269.6503333333333 L 224.89125808080036 269.6503333333333 L 224.89125808080036 269.6503333333333 L 224.89125808080036 269.6503333333333 L 218.52169517676035 269.6503333333333 Z" cy="68.03733333333332" cx="304.4781984090805" j="2" val="300" barHeight="204.11200000000002" barWidth="11.369562904040016"></path><path id="SvgjsPath1137" d="M 309.4781984090805 264.6503333333333 L 309.4781984090805 41.51966666666666 C 309.4781984090805 39.01966666666666 311.9781984090805 36.51966666666666 314.4781984090805 36.51966666666666 L 314.4781984090805 36.51966666666666 C 315.16297986110055 36.51966666666666 315.84776131312054 39.01966666666666 315.84776131312054 41.51966666666666 L 315.84776131312054 264.6503333333333 C 315.84776131312054 267.1503333333333 313.34776131312054 269.6503333333333 310.84776131312054 269.6503333333333 L 310.84776131312054 269.6503333333333 C 310.16297986110055 269.6503333333333 309.4781984090805 267.1503333333333 309.4781984090805 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 309.4781984090805 264.6503333333333 L 309.4781984090805 41.51966666666666 C 309.4781984090805 39.01966666666666 311.9781984090805 36.51966666666666 314.4781984090805 36.51966666666666 L 314.4781984090805 36.51966666666666 C 315.16297986110055 36.51966666666666 315.84776131312054 39.01966666666666 315.84776131312054 41.51966666666666 L 315.84776131312054 264.6503333333333 C 315.84776131312054 267.1503333333333 313.34776131312054 269.6503333333333 310.84776131312054 269.6503333333333 L 310.84776131312054 269.6503333333333 C 310.16297986110055 269.6503333333333 309.4781984090805 267.1503333333333 309.4781984090805 264.6503333333333 Z " pathFrom="M 309.4781984090805 269.6503333333333 L 309.4781984090805 269.6503333333333 L 315.84776131312054 269.6503333333333 L 315.84776131312054 269.6503333333333 L 315.84776131312054 269.6503333333333 L 315.84776131312054 269.6503333333333 L 315.84776131312054 269.6503333333333 L 309.4781984090805 269.6503333333333 Z" cy="34.01866666666666" cx="395.43470164140064" j="3" val="350" barHeight="238.13066666666668" barWidth="11.369562904040016"></path><path id="SvgjsPath1139" d="M 400.43470164140064 264.6503333333333 L 400.43470164140064 14.304733333333354 C 400.43470164140064 11.804733333333354 402.93470164140064 9.304733333333354 405.43470164140064 9.304733333333354 L 405.43470164140064 9.304733333333354 C 406.1194830934206 9.304733333333354 406.8042645454407 11.804733333333354 406.8042645454407 14.304733333333354 L 406.8042645454407 264.6503333333333 C 406.8042645454407 267.1503333333333 404.3042645454407 269.6503333333333 401.8042645454407 269.6503333333333 L 401.8042645454407 269.6503333333333 C 401.1194830934206 269.6503333333333 400.43470164140064 267.1503333333333 400.43470164140064 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 400.43470164140064 264.6503333333333 L 400.43470164140064 14.304733333333354 C 400.43470164140064 11.804733333333354 402.93470164140064 9.304733333333354 405.43470164140064 9.304733333333354 L 405.43470164140064 9.304733333333354 C 406.1194830934206 9.304733333333354 406.8042645454407 11.804733333333354 406.8042645454407 14.304733333333354 L 406.8042645454407 264.6503333333333 C 406.8042645454407 267.1503333333333 404.3042645454407 269.6503333333333 401.8042645454407 269.6503333333333 L 401.8042645454407 269.6503333333333 C 401.1194830934206 269.6503333333333 400.43470164140064 267.1503333333333 400.43470164140064 264.6503333333333 Z " pathFrom="M 400.43470164140064 269.6503333333333 L 400.43470164140064 269.6503333333333 L 406.8042645454407 269.6503333333333 L 406.8042645454407 269.6503333333333 L 406.8042645454407 269.6503333333333 L 406.8042645454407 269.6503333333333 L 406.8042645454407 269.6503333333333 L 400.43470164140064 269.6503333333333 Z" cy="6.803733333333355" cx="486.39120487372077" j="4" val="390" barHeight="265.3456" barWidth="11.369562904040016"></path><path id="SvgjsPath1141" d="M 491.39120487372077 264.6503333333333 L 491.39120487372077 157.18313333333336 C 491.39120487372077 154.68313333333336 493.89120487372077 152.18313333333336 496.39120487372077 152.18313333333336 L 496.39120487372077 152.18313333333336 C 497.0759863257408 152.18313333333336 497.7607677777608 154.68313333333336 497.7607677777608 157.18313333333336 L 497.7607677777608 264.6503333333333 C 497.7607677777608 267.1503333333333 495.2607677777608 269.6503333333333 492.7607677777608 269.6503333333333 L 492.7607677777608 269.6503333333333 C 492.0759863257408 269.6503333333333 491.39120487372077 267.1503333333333 491.39120487372077 264.6503333333333 Z " fill="var(--bs-primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="0" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 491.39120487372077 264.6503333333333 L 491.39120487372077 157.18313333333336 C 491.39120487372077 154.68313333333336 493.89120487372077 152.18313333333336 496.39120487372077 152.18313333333336 L 496.39120487372077 152.18313333333336 C 497.0759863257408 152.18313333333336 497.7607677777608 154.68313333333336 497.7607677777608 157.18313333333336 L 497.7607677777608 264.6503333333333 C 497.7607677777608 267.1503333333333 495.2607677777608 269.6503333333333 492.7607677777608 269.6503333333333 L 492.7607677777608 269.6503333333333 C 492.0759863257408 269.6503333333333 491.39120487372077 267.1503333333333 491.39120487372077 264.6503333333333 Z " pathFrom="M 491.39120487372077 269.6503333333333 L 491.39120487372077 269.6503333333333 L 497.7607677777608 269.6503333333333 L 497.7607677777608 269.6503333333333 L 497.7607677777608 269.6503333333333 L 497.7607677777608 269.6503333333333 L 497.7607677777608 269.6503333333333 L 491.39120487372077 269.6503333333333 Z" cy="149.68213333333335" cx="577.347708106041" j="5" val="180" barHeight="122.4672" barWidth="11.369562904040016"></path><g id="SvgjsG1128" class="apexcharts-bar-goals-markers"><g id="SvgjsG1130" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1132" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1134" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1136" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1138" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1140" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g></g><g id="SvgjsG1129" class="apexcharts-bar-shadows apexcharts-hidden-element-shown"></g></g><g id="SvgjsG1142" class="apexcharts-series" rel="2" seriesName="PixelxAdmin" data:realIndex="1"><path id="SvgjsPath1147" d="M 47.97825161616007 264.6503333333333 L 47.97825161616007 89.14580000000001 C 47.97825161616007 86.64580000000001 50.47825161616007 84.14580000000001 52.97825161616007 84.14580000000001 L 52.97825161616007 84.14580000000001 C 53.663033068180084 84.14580000000001 54.34781452020009 86.64580000000001 54.34781452020009 89.14580000000001 L 54.34781452020009 264.6503333333333 C 54.34781452020009 267.1503333333333 51.84781452020009 269.6503333333333 49.34781452020009 269.6503333333333 L 49.34781452020009 269.6503333333333 C 48.663033068180084 269.6503333333333 47.97825161616007 267.1503333333333 47.97825161616007 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 47.97825161616007 264.6503333333333 L 47.97825161616007 89.14580000000001 C 47.97825161616007 86.64580000000001 50.47825161616007 84.14580000000001 52.97825161616007 84.14580000000001 L 52.97825161616007 84.14580000000001 C 53.663033068180084 84.14580000000001 54.34781452020009 86.64580000000001 54.34781452020009 89.14580000000001 L 54.34781452020009 264.6503333333333 C 54.34781452020009 267.1503333333333 51.84781452020009 269.6503333333333 49.34781452020009 269.6503333333333 L 49.34781452020009 269.6503333333333 C 48.663033068180084 269.6503333333333 47.97825161616007 267.1503333333333 47.97825161616007 264.6503333333333 Z " pathFrom="M 47.97825161616007 269.6503333333333 L 47.97825161616007 269.6503333333333 L 54.34781452020009 269.6503333333333 L 54.34781452020009 269.6503333333333 L 54.34781452020009 269.6503333333333 L 54.34781452020009 269.6503333333333 L 54.34781452020009 269.6503333333333 L 47.97825161616007 269.6503333333333 Z" cy="81.6448" cx="133.93475484848022" j="0" val="280" barHeight="190.50453333333334" barWidth="11.369562904040016"></path><path id="SvgjsPath1149" d="M 138.93475484848022 264.6503333333333 L 138.93475484848022 109.55700000000002 C 138.93475484848022 107.05700000000002 141.43475484848022 104.55700000000002 143.93475484848022 104.55700000000002 L 143.93475484848022 104.55700000000002 C 144.61953630050022 104.55700000000002 145.30431775252023 107.05700000000002 145.30431775252023 109.55700000000002 L 145.30431775252023 264.6503333333333 C 145.30431775252023 267.1503333333333 142.80431775252023 269.6503333333333 140.30431775252023 269.6503333333333 L 140.30431775252023 269.6503333333333 C 139.61953630050022 269.6503333333333 138.93475484848022 267.1503333333333 138.93475484848022 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 138.93475484848022 264.6503333333333 L 138.93475484848022 109.55700000000002 C 138.93475484848022 107.05700000000002 141.43475484848022 104.55700000000002 143.93475484848022 104.55700000000002 L 143.93475484848022 104.55700000000002 C 144.61953630050022 104.55700000000002 145.30431775252023 107.05700000000002 145.30431775252023 109.55700000000002 L 145.30431775252023 264.6503333333333 C 145.30431775252023 267.1503333333333 142.80431775252023 269.6503333333333 140.30431775252023 269.6503333333333 L 140.30431775252023 269.6503333333333 C 139.61953630050022 269.6503333333333 138.93475484848022 267.1503333333333 138.93475484848022 264.6503333333333 Z " pathFrom="M 138.93475484848022 269.6503333333333 L 138.93475484848022 269.6503333333333 L 145.30431775252023 269.6503333333333 L 145.30431775252023 269.6503333333333 L 145.30431775252023 269.6503333333333 L 145.30431775252023 269.6503333333333 L 145.30431775252023 269.6503333333333 L 138.93475484848022 269.6503333333333 Z" cy="102.05600000000001" cx="224.89125808080036" j="1" val="250" barHeight="170.09333333333333" barWidth="11.369562904040016"></path><path id="SvgjsPath1151" d="M 229.89125808080036 264.6503333333333 L 229.89125808080036 58.52899999999999 C 229.89125808080036 56.02899999999999 232.39125808080036 53.52899999999999 234.89125808080036 53.52899999999999 L 234.89125808080036 53.52899999999999 C 235.57603953282035 53.52899999999999 236.26082098484036 56.02899999999999 236.26082098484036 58.52899999999999 L 236.26082098484036 264.6503333333333 C 236.26082098484036 267.1503333333333 233.76082098484036 269.6503333333333 231.26082098484036 269.6503333333333 L 231.26082098484036 269.6503333333333 C 230.57603953282035 269.6503333333333 229.89125808080036 267.1503333333333 229.89125808080036 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 229.89125808080036 264.6503333333333 L 229.89125808080036 58.52899999999999 C 229.89125808080036 56.02899999999999 232.39125808080036 53.52899999999999 234.89125808080036 53.52899999999999 L 234.89125808080036 53.52899999999999 C 235.57603953282035 53.52899999999999 236.26082098484036 56.02899999999999 236.26082098484036 58.52899999999999 L 236.26082098484036 264.6503333333333 C 236.26082098484036 267.1503333333333 233.76082098484036 269.6503333333333 231.26082098484036 269.6503333333333 L 231.26082098484036 269.6503333333333 C 230.57603953282035 269.6503333333333 229.89125808080036 267.1503333333333 229.89125808080036 264.6503333333333 Z " pathFrom="M 229.89125808080036 269.6503333333333 L 229.89125808080036 269.6503333333333 L 236.26082098484036 269.6503333333333 L 236.26082098484036 269.6503333333333 L 236.26082098484036 269.6503333333333 L 236.26082098484036 269.6503333333333 L 236.26082098484036 269.6503333333333 L 229.89125808080036 269.6503333333333 Z" cy="51.02799999999999" cx="315.84776131312054" j="2" val="325" barHeight="221.12133333333335" barWidth="11.369562904040016"></path><path id="SvgjsPath1153" d="M 320.84776131312054 264.6503333333333 L 320.84776131312054 133.37006666666667 C 320.84776131312054 130.87006666666667 323.34776131312054 128.37006666666667 325.84776131312054 128.37006666666667 L 325.84776131312054 128.37006666666667 C 326.53254276514053 128.37006666666667 327.2173242171606 130.87006666666667 327.2173242171606 133.37006666666667 L 327.2173242171606 264.6503333333333 C 327.2173242171606 267.1503333333333 324.7173242171606 269.6503333333333 322.2173242171606 269.6503333333333 L 322.2173242171606 269.6503333333333 C 321.53254276514053 269.6503333333333 320.84776131312054 267.1503333333333 320.84776131312054 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 320.84776131312054 264.6503333333333 L 320.84776131312054 133.37006666666667 C 320.84776131312054 130.87006666666667 323.34776131312054 128.37006666666667 325.84776131312054 128.37006666666667 L 325.84776131312054 128.37006666666667 C 326.53254276514053 128.37006666666667 327.2173242171606 130.87006666666667 327.2173242171606 133.37006666666667 L 327.2173242171606 264.6503333333333 C 327.2173242171606 267.1503333333333 324.7173242171606 269.6503333333333 322.2173242171606 269.6503333333333 L 322.2173242171606 269.6503333333333 C 321.53254276514053 269.6503333333333 320.84776131312054 267.1503333333333 320.84776131312054 264.6503333333333 Z " pathFrom="M 320.84776131312054 269.6503333333333 L 320.84776131312054 269.6503333333333 L 327.2173242171606 269.6503333333333 L 327.2173242171606 269.6503333333333 L 327.2173242171606 269.6503333333333 L 327.2173242171606 269.6503333333333 L 327.2173242171606 269.6503333333333 L 320.84776131312054 269.6503333333333 Z" cy="125.86906666666667" cx="406.8042645454407" j="3" val="215" barHeight="146.28026666666668" barWidth="11.369562904040016"></path><path id="SvgjsPath1155" d="M 411.8042645454407 264.6503333333333 L 411.8042645454407 109.55700000000002 C 411.8042645454407 107.05700000000002 414.3042645454407 104.55700000000002 416.8042645454407 104.55700000000002 L 416.8042645454407 104.55700000000002 C 417.4890459974607 104.55700000000002 418.1738274494807 107.05700000000002 418.1738274494807 109.55700000000002 L 418.1738274494807 264.6503333333333 C 418.1738274494807 267.1503333333333 415.6738274494807 269.6503333333333 413.1738274494807 269.6503333333333 L 413.1738274494807 269.6503333333333 C 412.4890459974607 269.6503333333333 411.8042645454407 267.1503333333333 411.8042645454407 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 411.8042645454407 264.6503333333333 L 411.8042645454407 109.55700000000002 C 411.8042645454407 107.05700000000002 414.3042645454407 104.55700000000002 416.8042645454407 104.55700000000002 L 416.8042645454407 104.55700000000002 C 417.4890459974607 104.55700000000002 418.1738274494807 107.05700000000002 418.1738274494807 109.55700000000002 L 418.1738274494807 264.6503333333333 C 418.1738274494807 267.1503333333333 415.6738274494807 269.6503333333333 413.1738274494807 269.6503333333333 L 413.1738274494807 269.6503333333333 C 412.4890459974607 269.6503333333333 411.8042645454407 267.1503333333333 411.8042645454407 264.6503333333333 Z " pathFrom="M 411.8042645454407 269.6503333333333 L 411.8042645454407 269.6503333333333 L 418.1738274494807 269.6503333333333 L 418.1738274494807 269.6503333333333 L 418.1738274494807 269.6503333333333 L 418.1738274494807 269.6503333333333 L 418.1738274494807 269.6503333333333 L 411.8042645454407 269.6503333333333 Z" cy="102.05600000000001" cx="497.7607677777608" j="4" val="250" barHeight="170.09333333333333" barWidth="11.369562904040016"></path><path id="SvgjsPath1157" d="M 502.7607677777608 264.6503333333333 L 502.7607677777608 68.7346 C 502.7607677777608 66.2346 505.2607677777608 63.73459999999999 507.7607677777608 63.73459999999999 L 507.7607677777608 63.73459999999999 C 508.4455492297808 63.73459999999999 509.13033068180084 66.2346 509.13033068180084 68.7346 L 509.13033068180084 264.6503333333333 C 509.13033068180084 267.1503333333333 506.63033068180084 269.6503333333333 504.13033068180084 269.6503333333333 L 504.13033068180084 269.6503333333333 C 503.4455492297808 269.6503333333333 502.7607677777608 267.1503333333333 502.7607677777608 264.6503333333333 Z " fill="var(--bs-secondary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area undefined" index="1" clip-path="url(#gridRectBarMaskuhsje5wa)" pathTo="M 502.7607677777608 264.6503333333333 L 502.7607677777608 68.7346 C 502.7607677777608 66.2346 505.2607677777608 63.73459999999999 507.7607677777608 63.73459999999999 L 507.7607677777608 63.73459999999999 C 508.4455492297808 63.73459999999999 509.13033068180084 66.2346 509.13033068180084 68.7346 L 509.13033068180084 264.6503333333333 C 509.13033068180084 267.1503333333333 506.63033068180084 269.6503333333333 504.13033068180084 269.6503333333333 L 504.13033068180084 269.6503333333333 C 503.4455492297808 269.6503333333333 502.7607677777608 267.1503333333333 502.7607677777608 264.6503333333333 Z " pathFrom="M 502.7607677777608 269.6503333333333 L 502.7607677777608 269.6503333333333 L 509.13033068180084 269.6503333333333 L 509.13033068180084 269.6503333333333 L 509.13033068180084 269.6503333333333 L 509.13033068180084 269.6503333333333 L 509.13033068180084 269.6503333333333 L 502.7607677777608 269.6503333333333 Z" cy="61.233599999999996" cx="588.7172710100809" j="5" val="310" barHeight="210.91573333333335" barWidth="11.369562904040016"></path><g id="SvgjsG1144" class="apexcharts-bar-goals-markers"><g id="SvgjsG1146" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1148" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1150" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1152" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1154" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g><g id="SvgjsG1156" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskuhsje5wa)"></g></g><g id="SvgjsG1145" class="apexcharts-bar-shadows apexcharts-hidden-element-shown"></g></g><g id="SvgjsG1127" class="apexcharts-datalabels apexcharts-hidden-element-shown" data:realIndex="0"></g><g id="SvgjsG1143" class="apexcharts-datalabels apexcharts-hidden-element-shown" data:realIndex="1"></g></g><line id="SvgjsLine1175" x1="0" y1="0" x2="545.7390193939209" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1176" x1="0" y1="0" x2="545.7390193939209" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1177" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1178" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1180" font-family="inherit" x="45.47825161616007" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1181">Mon</tspan><title>Mon</title></text><text id="SvgjsText1183" font-family="inherit" x="136.43475484848022" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1184">Tue</tspan><title>Tue</title></text><text id="SvgjsText1186" font-family="inherit" x="227.39125808080038" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1187">Wed</tspan><title>Wed</title></text><text id="SvgjsText1189" font-family="inherit" x="318.3477613131205" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1190">Thu</tspan><title>Thu</title></text><text id="SvgjsText1192" font-family="inherit" x="409.3042645454406" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1193">Fri</tspan><title>Fri</title></text><text id="SvgjsText1195" font-family="inherit" x="500.2607677777608" y="232.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#adb0bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan1196">Sat</tspan><title>Sat</title></text></g></g><g id="SvgjsG1211" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1212" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1213" class="apexcharts-point-annotations"></g></g>
                            </svg><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-title" style="font-family: inherit; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: var(--bs-primary);"></span><div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: var(--bs-secondary);"></span><div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark"><div class="apexcharts-yaxistooltip-text"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card overflow-hidden">
                <div class="card-body pb-0">
                    <div class="d-flex align-items-start">
                        <div>
                            <h4 class="card-title">Weekly Stats</h4>
                            <p class="card-subtitle">Average sales</p>
                        </div>
                        <div class="ms-auto">
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="text-muted" id="year1-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots fs-7"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="year1-dropdown">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 pb-3 d-flex align-items-center">
                        <span class="btn btn-primary rounded-circle round-48 hstack justify-content-center">
                            <i class="ti ti-shopping-cart fs-6"></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-medium fs-4">Top Sales</h5>
                            <span class="text-muted fs-3">Johnathan Doe</span>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-secondary-subtle text-muted">+68%</span>
                        </div>
                    </div>
                    <div class="py-3 d-flex align-items-center">
                        <span class="btn btn-warning rounded-circle round-48 hstack justify-content-center">
                            <i class="ti ti-star fs-6"></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-medium fs-4">Best Seller</h5>
                            <span class="text-muted fs-3">MaterialPro Admin</span>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-secondary-subtle text-muted">+68%</span>
                        </div>
                    </div>
                    <div class="py-3 d-flex align-items-center">
                        <span class="btn btn-success rounded-circle round-48 hstack justify-content-center">
                            <i class="ti ti-message-dots fs-6"></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-medium fs-4">Most Commented</h5>
                            <span class="text-muted fs-3">Ample Admin</span>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-secondary-subtle text-muted">+68%</span>
                        </div>
                    </div>
                    <div class="pt-3 mb-7 d-flex align-items-center">
                        <span class="btn btn-secondary rounded-circle round-48 hstack justify-content-center">
                            <i class="ti ti-diamond fs-6"></i>
                        </span>
                        <div class="ms-3">
                            <h5 class="mb-0 fw-medium fs-4">Top Budgets</h5>
                            <span class="text-muted fs-3">Sunil Joshi</span>
                        </div>
                        <div class="ms-auto">
                            <span class="badge bg-secondary-subtle text-muted">+15%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Products Performance</h4>
                            <p class="card-subtitle">
                                Ample Admin Vs Pixel Admin
                            </p>
                        </div>
                        <div class="ms-auto mt-3 mt-md-0">
                            <select class="form-select theme-select border-0" aria-label="Default select example">
                                <option value="1">March 2025</option>
                                <option value="2">March 2025</option>
                                <option value="3">March 2025</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-0 text-muted">
                                        Assigned
                                    </th>
                                    <th scope="col" class="px-0 text-muted">Name</th>
                                    <th scope="col" class="px-0 text-muted">
                                        Priority
                                    </th>
                                    <th scope="col" class="px-0 text-muted text-end">
                                        Budget
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <img src="~/flexy-theme/assets/images/profile/user-3.jpg" class="rounded-circle" width="40" alt="flexy">
                                            <div class="ms-3">
                                                <h6 class="mb-0 fw-medium">Sunil Joshi</h6>
                                                <span class="text-muted">Web Designer</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-0">Elite Admin</td>
                                    <td class="px-0">
                                        <span class="badge bg-info">Low</span>
                                    </td>
                                    <td class="px-0 text-dark fw-medium text-end">
                                        $3.9K
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <img src="~/flexy-theme/assets/images/profile/user-5.jpg" class="rounded-circle" width="40" alt="flexy">
                                            <div class="ms-3">
                                                <h6 class="mb-0 fw-medium">
                                                    Andrew McDownland
                                                </h6>
                                                <span class="text-muted">Project Manager</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-0">Real Homes WP Theme</td>
                                    <td class="px-0">
                                        <span class="badge text-bg-primary">Medium</span>
                                    </td>
                                    <td class="px-0 text-dark fw-medium text-end">
                                        $24.5K
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <img src="~/flexy-theme/assets/images/profile/user-6.jpg" class="rounded-circle" width="40" alt="flexy">
                                            <div class="ms-3">
                                                <h6 class="mb-0 fw-medium">
                                                    Christopher Jamil
                                                </h6>
                                                <span class="text-muted">SEO Manager</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-0">MedicalPro WP Theme</td>
                                    <td class="px-0">
                                        <span class="badge bg-warning">Hight</span>
                                    </td>
                                    <td class="px-0 text-dark fw-medium text-end">
                                        $12.8K
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <img src="~/flexy-theme/assets/images/profile/user-7.jpg" class="rounded-circle" width="40" alt="flexy">
                                            <div class="ms-3">
                                                <h6 class="mb-0 fw-medium">Nirav Joshi</h6>
                                                <span class="text-muted">Frontend Engineer</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-0">Hosting Press HTML</td>
                                    <td class="px-0">
                                        <span class="badge bg-danger">Low</span>
                                    </td>
                                    <td class="px-0 text-dark fw-medium text-end">
                                        $2.4K
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <img src="~/flexy-theme/assets/images/profile/user-8.jpg" class="rounded-circle" width="40" alt="flexy">
                                            <div class="ms-3">
                                                <h6 class="mb-0 fw-medium">Micheal Doe</h6>
                                                <span class="text-muted">Content Writer</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-0">Helping Hands WP Theme</td>
                                    <td class="px-0">
                                        <span class="badge bg-success">Low</span>
                                    </td>
                                    <td class="px-0 text-dark fw-medium text-end">
                                        $9.3K
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Recent Clients</h4>
                </div>
                <div class="comment-widgets scrollable mb-2 common-widget" style="height: 465px" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <!-- Comment Row -->
                                        <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                                            <div>
                                                <span><img src="~/flexy-theme/assets/images/profile/user-3.jpg" class="rounded-circle" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h6 class="fw-medium">James Anderson</h6>
                                                <p class="mb-1 fs-2 text-muted">
                                                    Lorem Ipsum is simply dummy text of the printing and
                                                    type etting industry
                                                </p>
                                                <div class="comment-footer mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="
                              badge
                              bg-info-subtle
                              text-info

                            ">Pending</span>
                                                        <span class="action-icons">
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                                                        </span>
                                                    </div>
                                                    <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            mt-2
                            text-end
                          ">April 14, 2025</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Comment Row -->
                                        <div class="d-flex flex-row comment-row border-bottom active p-3 gap-3">
                                            <div>
                                                <span><img src="~/flexy-theme/assets/images/profile/user-5.jpg" class="rounded-circle" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text active w-100">
                                                <h6 class="fw-medium">Michael Jorden</h6>
                                                <p class="mb-1 fs-2 text-muted">
                                                    Lorem Ipsum is simply dummy text of the printing and
                                                    type setting industry.
                                                </p>
                                                <div class="comment-footer mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="
                              badge
                              bg-success-subtle
                              text-success

                            ">Approved</span>
                                                        <span class="action-icons active">
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-circle-x fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart text-danger fs-5"></i></a>
                                                        </span>
                                                    </div>
                                                    <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            text-end
                            mt-2
                            d-block
                          ">April 14, 2025</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Comment Row -->
                                        <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                                            <div>
                                                <span><img src="~/flexy-theme/assets/images/profile/user-6.jpg" class="rounded-circle" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h6 class="fw-medium">Johnathan Doeting</h6>
                                                <p class="mb-1 fs-2 text-muted">
                                                    Lorem Ipsum is simply dummy text of the printing and
                                                    type setting industry.
                                                </p>
                                                <div class="comment-footer mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="
                              badge
                              bg-danger-subtle
                              text-danger

                            ">Rejected</span>
                                                        <span class="action-icons">
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                                                        </span>
                                                    </div>
                                                    <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            mt-2
                            text-end
                          ">April 14, 2025</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Comment Row -->
                                        <div class="d-flex flex-row comment-row p-3 gap-3">
                                            <div>
                                                <span><img src="~/flexy-theme/assets/images/profile/user-4.jpg" class="rounded-circle" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h6 class="fw-medium">James Anderson</h6>
                                                <p class="mb-1 fs-2 text-muted">
                                                    Lorem Ipsum is simply dummy text of the printing and
                                                    type setting industry.
                                                </p>
                                                <div class="comment-footer mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="
                              badge
                              bg-info-subtle
                              text-info

                            ">Pending</span>
                                                        <span class="action-icons">
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                                                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                                                        </span>
                                                    </div>
                                                    <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            text-end
                            mt-2
                          ">April 14, 2025</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="simplebar-placeholder" style="width: auto; height: 610px;"></div>
                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 354px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title mb-0">Weather Report</h4>
                        <select class="form-select w-auto ms-auto">
                            <option selected="">Today</option>
                            <option value="1">Weekly</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center flex-row mt-4">
                        <div class="p-2 display-5 text-primary">
                            <i class="ti ti-cloud-snow"></i>
                            <span>73<sup>°</sup></span>
                        </div>
                        <div class="p-2">
                            <h3 class="mb-0">Saturday</h3>
                            <small>Ahmedabad, India</small>
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Wind</td>
                                <td class="fw-medium">ESE 17 mph</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td class="fw-medium">83%</td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td class="fw-medium">28.56 in</td>
                            </tr>
                            <tr>
                                <td>Cloud Cover</td>
                                <td class="fw-medium">78%</td>
                            </tr>
                            <tr>
                                <td>Ceiling</td>
                                <td class="fw-medium">25760 ft</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <ul class="list-unstyled row text-center city-weather-days mb-0">
                        <li class="col">
                            <i class="ti ti-sun-high fs-4"></i><span>09:30</span>
                            <h3 class="mb-0 fs-6 lh-base">70<sup>°</sup></h3>
                        </li>
                        <li class="col">
                            <i class="ti ti-cloud fs-4"></i><span>11:30</span>
                            <h3 class="mb-0 fs-6 lh-base">72<sup>°</sup></h3>
                        </li>
                        <li class="col">
                            <i class="ti ti-cloud-rain fs-4"></i><span>13:30</span>
                            <h3 class="mb-0 fs-6 lh-base">75<sup>°</sup></h3>
                        </li>
                        <li class="col">
                            <i class="ti ti-cloud-snow fs-4"></i><span>15:30</span>
                            <h3 class="mb-0 fs-6 lh-base">76<sup>°</sup></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>