@using EInvoice.Common.DTO
@model UserDTO
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Register Page">
    <title>@ViewData["Title"]</title>

    <!-- Fontfaces CSS-->
    <link href="~/theme/css/font-face.css" rel="stylesheet" />
    <link href="~/theme/vendor/fontawesome-6.7.2/css/all.min.css" rel="stylesheet" />
    <link href="~/theme/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="~/theme/vendor/bootstrap-5.3.7.min.css" rel="stylesheet" />

    <!-- Vendor CSS-->
    <link href="~/theme/css/aos.css" rel="stylesheet" />
    <link href="~/theme/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/theme/css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/theme/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <!-- Main CSS-->
    <link href="~/theme/css/theme.css" rel="stylesheet" />
</head>

<body>
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/images/e-incoive-logo.png" alt="E-Invoice" />
                            </a>
                        </div>
                        <div class="login-form">
                            <form asp-action="Register" asp-controller="Users" method="post">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="au-input au-input--full" placeholder="Username" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" type="email" class="au-input au-input--full" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" type="password" class="au-input au-input--full" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="au-input au-input--full" placeholder="First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="au-input au-input--full" placeholder="Last Name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20">Register</button>
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </form>
                            <div class="register-link">
                                <p>
                                    Already have an account?
                                    <a asp-action="Login" asp-controller="Users">Sign In Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/theme/js/vanilla-utils.js"></script>
    <script src="~/theme/vendor/bootstrap-5.3.7.bundle.min.js"></script>
    <script src="~/theme/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/theme/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/theme/js/bootstrap5-init.js"></script>
    <script src="~/theme/js/main-vanilla.js"></script>
    <script src="~/theme/js/swiper-bundle.min.js"></script>
    <script src="~/theme/js/aos.js"></script>
    <script src="~/theme/js/modern-plugins.js"></script>
</body>
</html>
