@{
    ViewData["Title"] = "Organization - Add";
}
<div class="container mt-5">
    <h2>Organization- Add</h2>
</div>

@* @section Scripts { *@
@*     <script src="~/js/organization/organization-Add.js"></script> *@
@* } *@