@using EInvoice.Common.DTO
@model OrganizationDTO
@{
    var isEdit = Model.Id != 0;
    ViewData["Title"] = isEdit ? "Edit Organization" : "Add Organization";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-medium mb-4">@ViewData["Title"]</h5>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Upsert" asp-route-id="@Model.Id" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label asp-for="BusinessName" class="form-label"></label>
                                <input asp-for="BusinessName" class="form-control" />
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="NTNCNIC" class="form-label"></label>
                                <input asp-for="NTNCNIC" class="form-control" />
                                <span asp-validation-for="NTNCNIC" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="Province" class="form-label"></label>
                                <input asp-for="Province" class="form-control" />
                                <span asp-validation-for="Province" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="Address" class="form-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            @(isEdit ? "Update" : "Create")
                        </button>
                        <a asp-action="Index" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
